<%=content_for :title, "Gritty2"%>
<h1>Gritty Spanish</h1>

<br/>
<script>
//   $(document).ready(function() {
// // $(".test").addClass("completed_task");
// $("p").addClass("completed_task");
//   });
  
  function showText(t){
      if (t==34.3)
      {
          t = 34.3
      }
      else if(t==51.0)
      {
          t = 51.0
      }
  else if (t==174.0)
      {
       t = "No mano, deja de ser una pequeña perra sensible. ¿Desde cuándo actúas como una perra? Mira, no es nada personal, pero esta es la realidad, amigo, a veces tienes que esperar lo peor de las personas. No puedes creer todo lo que dice la gent y dejarlo así.";   
      }
      
      
           
      
      else if (t==186.0)
      {
       t = "No puedes creer todo lo que dice la gente y dejarlo así.";   
      }
      
     else if (t==192.0)
      {
       t = " y eso es SI, y solo SI ella está embarazada. No tengo ninguna duda sobre eso.";   
      }
      else
      {
          t = "unknown"
      }
      var x = document.getElementById('location');
          x.innerHTML=t;
  }

  
</script>
<p style="font-size: 30px" id='location'>al grano.</p>


<%=link_to "New", new_marker_path, id:"new_link", remote: true %>
<% Marker.all.each do |marker| %>
      <tr>
        <td><%=button_tag(marker.time, :onclick => "setCurTime(#{marker.time});showText(#{marker.time});" )%></td>
    </tr>
    <% end %>
<br/>
<button onclick="getCurTime()" type="button">Get current time position</button>
<button onclick="setCurTime(34.3)" type="button">34 sec</button> 

<br> 


<button onclick="goBack(2)" type="button">go back 2 segundos</button><br> 

<%= audio_tag "07 Pregnant Girlfriend- Novia embarazada.mp3", id:"sound", :size => "320x240", :controls => true %>

<script>
var vid = document.getElementById("sound");
vid.volume = 0.2;

// function goBack(n){
//     sound.currentTime -= n;
//     sound.play()
// }

function goBack(n){
 if (sound.paused){
     sound.currentTime -= n;
    sound.play();
 }
  else{
       sound.pause();
  }
   
}

function setCurTime(n) { 
    sound.currentTime=n;
    sound.play()
} 

function getCurTime() { 
//window.open("markers/new?time="+sound.currentTime,"_self")
// %= remote_function :url => "markers/new", :with => "'time=' + sound.currentTime" %>

    
     alert(sound.currentTime);
} 





</script> 

<!--<iframe src="https://docs.google.com/viewer?url=http://stash.reaper.fm/30053/Grit07.pdf&embedded=true" -->
<!--width="100%" height="800" frameborder="0" >-->
<!--<p>Your browser does not support iframes.</p>-->
<!--</iframe>-->

