<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
<script>


  $(document).ready(function() {
$("test").addClass("animated bounce");
  });
  
      $(function() {
          $( ".datepicker" ).datepicker();
      });
      
      function changeText(){
          var x = document.getElementsByClassName('top');
          x[0].innerHTML='no le hacía caso a ellos'
      }


$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide();
    });
    $("#show").click(function(){
        $("p").show();
    });
    $("#completed").click(function(){
        $("p").addClass("completed_task");
    });
    $("p").click(function(){
        $(this).hide();
    });
    
    $("#hide2").click(function(){
        $("p").addClass("completed_task").toggle();
        //  $("p").toggle();
    });
    $("#hide3").click(function(){
        $("p").toggle();
        $("h1").addClass("completed_task");
    });
    $("#hide4").click(function(){
        $("p").toggle()
    });
    $("#hide5").click(function(){
       $("p").toggle(); 
    });
    $("#hide6").click(function(){
        $("p").toggle();
    });
    $('#hide7').click(function(){
       $("p").toggle();
    });
    $("#hide8").click(function(){
        $('p').toggle();
    });
    $('#hide9').click(function(){
        $('p').toggle();
    });
    $('#hide10').click(function(){
        $('p').toggle();
    });
    

    $("#hide11").click(function(){
        $('p').toggle();
        
    });
    
    // $("p").addClass("completed_task");
});


</script>
<p>Hello</p>

<p>
    When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
</p>

<button id='location' type='button'> location</button>
<button type='button' id='hide11'>Hide11</button>
<button id='hide10' type='button'> Hide10</button>
<button type='button' id='hide9'>Hide 9</button>
<button type='button' id='hide8'>Hide 8</button>
<button type='button' id='hide7'>Hide 7</button>
<button type='button' id='hide6'>Hide 6</button>

<button type="button" id="hide5" >Hide5</button>

<button type='button' id='hide4'>Hide 4</button>


<button id='hide3'>Hide 3</button>

<button id ='hide2'>Hide2</button>
<p>If you click on the "Hide" button, I will disappear.</p>
<button id="hide">Hide</button>
<button id="show">Show</button>
<button id="completed">MarkAsCOmpleted</button>


<p class='test'>He añadido</p>


<p>Date: <input type="text" class="datepicker"></p>

<p>Date2: <input type="text" class="datepicker"></p>

<button type='button' onclick='changeText()'>ClickMe</button>

<h1>Pages#practice1</h1>
<p class="test">Find me in app/views/pages/practice1.html.erb</p>



  


<center>
    <div style='width:1000px'>
<div class='top'>Arriba</div>
<div class='left'>Izquierda</div>
<div class='right'>Derecha</div>
<div class='bottom'>Abajo</div>
    </div>
</center>