
<script>
  $(document).ready(function() {
$("test").addClass("animated bounce");
  });
  
      $(function() {
          $( ".datepicker" ).datepicker();
      });
      
      function changeText(){
          var x = document.getElementsByClassName('top');
          x[0].innerHTML='no le hacía caso a ellos'
      }


$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide();
    });
    $("#show").click(function(){
        $("p").show();
    });
    $("#completed").click(function(){
        $("p").addClass("completed_task");
    });
    $("p").click(function(){
        $(this).hide();
    });
    
    $("#hide2").click(function(){
        $("p").addClass("completed_task").toggle();
        //  $("p").toggle();
    });
    $("#hide3").click(function(){
        $("p").toggle();
        $("h1").addClass("completed_task");
    });
    $("#hide4").click(function(){
        $("p").toggle()
    });
    $("#hide5").click(function(){
       $("p").toggle(); 
    });
    
    // $("p").addClass("completed_task");
});


</script>
<button type="button" id="hide5" >Hide5</button>

<button type='button' id='hide4'>Hide 4</button>


<button id='hide3'>Hide 3</button>

<button id ='hide2'>Hide2</button>
<p>If you click on the "Hide" button, I will disappear.</p>
<button id="hide">Hide</button>
<button id="show">Show</button>
<button id="completed">MarkAsCOmpleted</button>


<p class='test'>He añadido</p>


<p>Date: <input type="text" class="datepicker"></p>

<p>Date2: <input type="text" class="datepicker"></p>

<button type='button' onclick='changeText()'>ClickMe</button>

<h1>Pages#practice1</h1>
<p class="test">Find me in app/views/pages/practice1.html.erb</p>



  


<center>
    <div style='width:1000px'>
<div class='top'>Arriba</div>
<div class='left'>Izquierda</div>
<div class='right'>Derecha</div>
<div class='bottom'>Abajo</div>
    </div>
</center>