
<script>
  $(document).ready(function() {
$("test").addClass("animated bounce");
  });
  
  $(function() {
  $('.test').datepicker();
});
</script>

<h1>Pages#practice1</h1>
<p class="test">Find me in app/views/pages/practice1.html.erb</p>

<center>
    <div style='width:1000px'>
<div class='top'>Arriba</div>
<div class='left'>Izquierda</div>
<div class='right'>Derecha</div>
<div class='bottom'>Abajo</div>
    </div>
</center>