
<script>
  $(document).ready(function() {
$("test").addClass("animated bounce");
  });
  
      $(function() {
          $( ".datepicker" ).datepicker();
      });
      
      function changeText(){
          var x = document.getElementsByClassName('top');
          x[0].innerHTML='no le hacía caso a ellos'
      }
      
</script>

<p>Date: <input type="text" class="datepicker"></p>

<p>Date2: <input type="text" class="datepicker"></p>

<button type='button' onclick='changeText()'>ClickMe</button>

<h1>Pages#practice1</h1>
<p class="test">Find me in app/views/pages/practice1.html.erb</p>



  


<center>
    <div style='width:1000px'>
<div class='top'>Arriba</div>
<div class='left'>Izquierda</div>
<div class='right'>Derecha</div>
<div class='bottom'>Abajo</div>
    </div>
</center>